html {
    text-align: center;
    background-color: #3A3238;
}

canvas {
    box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
}

.container {
    width: 90%;
    margin: 2.5% auto;
}


@media (min-width: 1050px) {
    .container {
        width: 30%;
    }
}