html {
    text-align: center;
    background-color: #3A3238;
}

.container {
    width: 98%;
    margin: 0 auto;
}

@media (min-width: 1000px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
}