html {
    text-align: center;
    background-color: #3A3238;
}

canvas {
    box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
}

.container {
    width: 90%;
    margin: 2.5% auto;
}

.cta {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #C0E0DE;
}

@media (min-width: 1050px) {
    .container {
        width: 30%;
    }
    
    .cta {
        font-size: 1.2em;
    }
}


a {
    color: #4F7CAC;
}